html,
body {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf) no-repeat;
}

main {
  display: block;
  padding-top: 50px;
  width: 100%;
  /* flex-direction: column; */
  /* align-items: center; */
 }

button {
  color: #ffffff;
  height: 30px;
  width: 30%;
  background-color: #134d71;
  border: 0;
  border-radius: 5px;
}

h2 {
  margin-left: 40.5%;
}

.choices,
.click {
  display: flex;
}

.box-1 {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  height: 115px;
  width: 50%;
  margin-left: 25%;
}

.box-2 {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  height: 190px;
  width: 70%;
  margin-top: 120px;
  margin-left: 15%;
}

.message-box {
  display: block;
}

.image {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  justify-content: center;
  height: 75%;
  margin-top: 25px;
}

.choices {
  justify-content: space-around;
  margin: 20px;
}

.click {
  justify-content: center;
}

.clear-button {
  background-color: #95a5a6;
  color: white;
  border: 0;
  border-radius: 4px;
  height: 35px;
  width: 80px;
  flex: 1;
  margin-top: auto;
  margin-right: 15px;
  margin-bottom: 10px;
}

.result {

}

.hidden {
  display: none;
}
